*.swo
*.swp
.pivotalrc
.pivotal_cache
.rake_tasks
.sass-cache
.shelltoadrc
bin/rvm*
bin/phantomjs
config/initializers/bogdan.rb
config/initializers/local.rb
config/mongrel_cluster.yml
doc/tags
dump.rdb
public/javascripts/local.js
Procfile
tags
vimrc
vendor/bundle
tmp-*
.DS_Store
