*.swo
*.swp
.byebug_history
.git-storyid
.pivotalrc
.pivotal_cache
.rake_tasks
.sass-cache
.shelltoadrc
bin/rvm*
bin/spellgood
bin/phantomjs
bin/scilla-checker
config/initializers/bogdan.rb
config/initializers/local.rb
doc/tags
dump.rdb
public/javascripts/local.js
tags
vimrc
tmp-*
.DS_Store
yarn-error.log
local_benchmark.rb
