*.swo
*.swp
.pivotalrc
.pivotal_cache
.rake_tasks
.sass-cache
.shelltoadrc
bin/rvm*
config/initializers/local.rb
config/mongrel_cluster.yml
doc/tags
dump.rdb
public/javascripts/local.js
tags
vimrc
vendor/bundle
